

<mat-card class="basics-content">
    <mat-card-content class="paragraph-style">
        <p>
            JavaScript is a programming language that adds interactivity to your website
            (for example games, responses when buttons are pressed or data is entered in forms,
            dynamic styling, and animation). This article helps you get started with this exciting
            language and gives you an idea of what is possible.
        </p>

        <h1>
            What is JavaScript, really?
        </h1>

        <p>
            JavaScript ("JS" for short) is a full-fledged dynamic programming language that,
            when applied to an HTML document, can provide dynamic interactivity on websites.
            It was invented by Brendan Eich, co-founder of the Mozilla project, the Mozilla Foundation,
            and the Mozilla Corporation.
        </p>

        <p>
            JavaScript is incredibly versatile and beginner friendly. With more experience,
            you'll be able to create games, animated 2D and 3D graphics, comprehensive database-driven apps,
            and much more!
        </p>
        <p>
            JavaScript itself is fairly compact yet very flexible. Developers have written a large variety
            of tools on top of the core JavaScript language, unlocking a vast amount of extra functionality
            with minimum effort. These include:
        </p>

        <ul class="bullet">
            <li>
                Browser Application Programming Interfaces (APIs) — APIs built into web browsers,
                providing functionality like dynamically creating HTML and setting CSS styles,
                collecting and manipulating a video stream from the user's webcam, or generating
                3D graphics and audio samples.
            </li>
            <li>
                Third-party APIs — Allow developers to incorporate functionality in their sites
                from other content providers, such as Twitter or Facebook.
            </li>
            <li>
                Third-party frameworks and libraries — You can apply these to your HTML to
                allow you to rapidly build up sites and applications.
            </li>
        </ul>

        <p>
            Because this article is only supposed to be a light introduction to JavaScript, we are not going to confuse
            you at this stage by talking in detail about what the difference is between the core JavaScript language and
            the different tools listed above. You can learn all that in detail later on, in our JavaScript learning
            area, and in the rest of MDN.
        </p>
    </mat-card-content>
</mat-card>