@import "~src/assets/styles/variables.scss";
@import "~src/assets/styles/common.scss";

.basics-content {
    padding: 15px 50px;
    @extend .card-font-styles;

    h1 {
        margin-bottom: 10px;
    }

    .bullet {
        padding-right: 20px;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}