<div class="account-container-card-content">
    <!-- <div class="login-username">
        <mat-form-field appearance="outline" class="f-width">
            <mat-label>Firstname</mat-label>
            <input matInput type="text" placeholder="Enter your firstname" name="username">
        </mat-form-field>
    </div>
    <div class="login-username">
        <mat-form-field appearance="outline" class="f-width">
            <mat-label>Lastname</mat-label>
            <input matInput type="text" placeholder="Enter your lastname" name="username">
        </mat-form-field>
    </div> -->
    <div class="login-username">
        <mat-form-field appearance="outline" class="f-width">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Enter Username" name="username">
        </mat-form-field>
    </div>
    <div class="login-username">
        <mat-form-field appearance="outline" class="f-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter your email" name="username">
        </mat-form-field>
    </div>
    <div class="login-password">
        <mat-form-field appearance="outline" class="f-width">
            <mat-label>New Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" name="password">
        </mat-form-field>
    </div>
    <div class="login-password">
        <mat-form-field appearance="outline" class="f-width">
            <mat-label>Re-enter Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" name="password-re-enter">
        </mat-form-field>
    </div>
    <div class="account-container-card-action">
        <button class="login-btn">
            SIGNUP
        </button>
        <span class="account-question-text">Existing User ? <a href="/account/sign-in"> SIGN-IN</a></span>
    </div>
</div>
