<div class="msd mat-elevation-z2">
    <div class="msd-profile">
        <img src="../../../assets/images/msd.jpg">
    </div>
    <div class="msd-image">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRb2WwFPzE5UtQscrrMNAla92-m-LomdfVO6w&usqp=CAU">
        <p class="msd-name">
            Mahendra Singh Dhoni | <span class="msd-born">7 July 1981 (age 39) Ranchi, Bihar.</span>
        </p>
    </div>
    <div class="msd-details">
        <p class="msd-description">
            Mahendra Singh Dhoni, is an Indian former international cricketer who captained the Indian national team in
            limited-overs formats from 2007 to 2016 and in Test cricket from 2008 to 2014.Under his captaincy, India won
            <b>the 2007 ICC World Twenty20</b>, <b>the 2010 and 2016 Asia Cups</b>, <b>the 2011 ICC Cricket World
                Cup</b> and <b>
                the 2013 ICC
                Champions Trophy.
            </b>
        </p>
        <div class="quotes-on-msd">
            <div class="quote-one">
                <p>
                    "Dhoni Is The Best Captain I Have Played Under”
                    <span> - Sachin Tendulkar</span>
                </p>
                <p>
                    “I Would Go To War With Dhoni By My Side.”
                    <span> - Gary Kirsten</span>
                </p>
                <p>
                    "I Am Really Gifted To Play Under The Leadership Of MS Dhoni.”
                    <span> - Michael Hussey</span>
                </p>

                <p>
                    “Need A Six In Pressure Situation? Call MS DHONI.”
                    <span> - Ramiz Raja</span>
                </p>

                <p>
                    “If Dhoni plays till the end, one thing is for sure..He will make his team Win.”
                    <span> – Harsha Bhogle </span>
                </p>
            </div>
            <div class="quote-two">
                <p>
                    "Dhoni Is My Hero. We talk a lot about Sachin Tendulkar, Virender Sehwag, But this boy has as much
                    talent as anyone in the game"
                    <span> - Kapil Dev</span>
                </p>

                <p>
                    As Far As One-Day Cricket Is Concerned, Dhoni Is One Of The Greatest Captains Of All Times”
                    <span> - Saurav Ganguly</span>
                </p>

                <p>
                    “I will pay to watch MS Dhoni Bat. Dhoni is not the next Gilchrist. He’s the first MS Dhoni.”
                    <span> – Adam Gilchrist </span>
                </p>

                <p>
                    “You just can’t bowl spin to MS Dhoni in the death overs. He is simply the best in the world.”
                    <span> – Alastair Cook</span>
                </p>
                <p>
                    “If 15 Runs Are Needed Off The Last 6 Balls, Pressure Is On The Bowler & Not On MS Dhoni”
                    <span> – Ian Bishop </span>
                </p>
            </div>
        </div>

        <div class="msd-cups" [class.msd-cups-center]="sidenavState">
            <div class="msd-cup mat-elevation-z2" [class.msd-cup-w-inc]="sidenavState">
                <img src="../../../assets/images/msd_2007.jpg">
                <p>2007 ICC World Twenty20 Cup</p>
            </div>
            <div class="msd-cup mat-elevation-z2" [class.msd-cup-w-inc]="sidenavState">
                <img src="../../../assets/images/msd_2011.jpg">
                <p>2011 ICC Cricket World Cup</p>
            </div>
            <div class="msd-cup mat-elevation-z2" [class.msd-cup-w-inc]="sidenavState">
                <img src="../../../assets/images/msd_2013.jpg">
                <p>2013 ICC Champions Trophy</p>
            </div>
        </div>
    </div>
</div>