@import "~src/assets/styles/variables.scss";
@import "~src/assets/styles/common.scss";


.to-do-btn-list {
    cursor: default;
    margin-right: $le-15px;
}

.to-do {
    width: 100%;
    margin: 0 auto;

    .to-do-actions {
        display: flex;
        flex-direction: row;

        .to-do-action {
            margin-right: $le-15px;
        }


    }

    .to-do-btns {
        display: flex;
    }

    .to-do-table {
        margin-top: $le-20px;
        margin-bottom: $le-20px;

        table {
            width: 85%;
            margin: 0 auto;
            background-color: white;

            tr {
                height: 48px;

                th {
                    text-align: left;
                }

                td:first-of-type,
                th:first-of-type {
                    padding-left: $le-16px;
                }
            }

            .mat-progress-bar {
                width: 85%;
            }

            .to-do-name {
                width: 250px;
            }

            .to-do-progress {
                width: 200px;
            }

            .to-do-priority {
                width: 150px;
            }

            .to-do-comment {
                width: 90px
            }
        }

        .mat-icon-button {
            .material-icons {
                font-size: 22px;
            }
        }


    }
}



.badge {
    min-width: 20px;
    height: 20px;
    color: #247ba0;
    background-color: white;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    margin-left: 10px;
    font-size: 12px;
}

.priority {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: $le-5px;
    border-radius: 50%;
}

.high {
    background-color: #fa7a79;
}

.low {
    background-color: #179df9;
}

.medium {
    background-color: #fd9a39;
}

.mat-menu-item .mat-icon {
    margin-right: 8px;
}

.to-do-progress-button {
    border-radius: 20px;
    background-color: transparent;
    box-shadow: none;
    color: #247ba0;
    border: 1px solid #247ba0;
    padding: 0 10px !important;
    height: 34px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px !important;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}