@import "~src/assets/styles/variables.scss";

.sidenav-item-highlight-class {
    color: #53A3BD;
    position: relative;
    font-weight: 500;
}

.sidenav-spacer {
    margin-top: 10px;
}

.list-item {

    margin-bottom: 10px;
    height: 40px !important;
    text-decoration: none;

    &:hover {
        @extend .sidenav-item-highlight-class;
    }

    &.active {
        @extend .sidenav-item-highlight-class;

        &::before {
            content: '';
            position: absolute;
            background-color: $le-main-color;
            width: 3px;
            height: 99%;
            bottom: 0;
            left: 0px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}