@import "~src/assets/styles/variables.scss";
@import "~src/assets/styles/common.scss";

.payments {
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }

    .payments-head {
        display: flex;
        width: 100%;
        min-height: 230px;
        background-color: #efe5e6;
        z-index: 1;

        .payments-head-text {
            display: flex;
            width: 100%;
            max-height: 30px;
            padding: $le-10px $le-16px;
            border: 2px solid #a8a5a5;
            margin: 0 5px;
            border-radius: $le-16px;
            align-items: center;
            justify-content: space-between;

            .head-text-icons,
            .head-text-ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                align-items: center;

                li {
                    padding: 0 $le-8px;

                    &.active {
                        color: #9b9ca2;
                        font-weight: $le-font-weight-500;

                        &::before {
                            display: inline-block;
                            padding-right: 0.7rem;
                            color: #6c757d;
                            content: "/";

                        }
                    }
                }
            }

            .head-text-icons {
                li {
                    padding: 0 $le-16px;

                    .material-icons {
                        color: #30404b;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .payments-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f9f6f6;

        .payments-list-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            z-index: 10;
            margin: $le-12px;

            .payments-lists {
                display: flex;
                margin-top: -100px;


                .payments-list {
                    display: flex;
                    flex-direction: column;
                    width: 125px;
                    min-height: 135px;
                    padding: $le-16px $le-20px;
                    margin: 0 $le-12px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    border-radius: 28px;
                    background-color: white;
                    position: relative;

                    &:first-child {
                        margin-left: 0;
                    }

                    .count {
                        position: absolute;
                        top: -10px;
                        width: 25px;
                        height: 25px;
                        background-color: #ff865c;
                        left: 40%;
                        border-radius: 45%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: white;
                    }

                    p {
                        margin: 0;
                    }

                    .desc-heading {
                        display: flex;
                        align-items: center;
                        position: relative;

                        .material-icons {
                            color: #ff865c;
                        }

                        .underline {
                            width: 28px;
                            height: 2px;
                            background-color: yellowgreen;
                            position: absolute;
                            bottom: -7px;
                            left: 1px;

                        }
                    }

                    .desc {
                        color: #98a1a5;
                        font-size: $le-font-size-12px;
                        margin-left: $le-12px;
                    }

                    .name {
                        margin-bottom: 5px;
                        display: flex;
                        height: 100%;
                        justify-content: flex-start;
                        align-items: flex-end;
                    }

                    .name,
                    .amt {
                        color: #475760;
                    }

                    &.last {
                        background-color: #2f4491;

                        .desc-heading {
                            .material-icons {
                                color: white;
                            }
                        }

                        .name,
                        .amt {
                            color: white;
                            font-weight: $le-font-weight-500;
                        }
                    }


                }
            }

            .add-payment {
                width: 60px;
                height: 60px;
                background-color: white;
                margin-top: -40px;
                margin-right: 45px;
                border-radius: $le-24px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);


                .material-icons {
                    color: #3a4f9a;
                }
            }
        }

        .payments-display {
            display: flex;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
            padding: $le-24px;
            margin: $le-32px 0;
            border: 2px solid #a8a5a5;
            border-radius: $le-20px;

            .payment-count {
                display: flex;
                position: relative;

                .payment-count-one {
                    margin-right: 140px;

                    p {
                        margin-bottom: $le-5px;
                    }

                    .add-amt {
                        color: #6bb161;
                        font-weight: $le-font-weight-500
                    }
                }

                .payment-count-one,
                .payment-count-two {
                    display: flex;
                    justify-items: center;
                    flex-direction: column;

                    p {
                        font-size: $le-font-size-20px;
                        font-weight: $le-font-weight-500;
                    }

                    label {
                        position: absolute;
                        top: -36px;
                        background-color: #f8f5f5;
                        padding: 0 10px;
                        display: flex;
                        color: #b2b6bb;
                        font-size: 12px;
                        text-transform: uppercase;
                        align-items: center;

                        .material-icons {
                            margin-right: $le-5px;
                        }
                    }
                }

                .payment-count-two {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;


                }
            }

            .payment-button {
                display: flex;
                box-sizing: border-box;
                background-color: #2f4491;
                border-radius: $le-12px;

                p {
                    padding: $le-12px 40px;
                    color: white;
                    position: relative;
                    display: flex;
                    align-items: center;

                    .border {
                        left: 0;
                        top: 0;
                    }

                    .material-icons {
                        margin-right: $le-5px;
                    }
                }
            }
        }

        .payments-table-container {
            display: flex;
            flex-direction: column;
            margin-top: $le-20px;

            .payments-table-nav {
                display: flex;
                justify-content: space-between;
                padding: $le-16px;
                margin: 0 $le-12px;

                .payments-table-navbar {
                    display: flex;

                    .payments-table-navbar-heading {
                        font-size: $le-font-size-18px;
                        font-weight: $le-font-weight-500;
                        text-transform: uppercase;
                    }

                    .payments-table-navbar-items {
                        margin-left: $le-20px;

                        .navbar-items-ul {
                            display: flex;
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                padding: 0 $le-12px;
                                position: relative;
                                margin: 0 5px;
                                color: #a9b0b3;
                                cursor: pointer;

                                .bottom-border {
                                    position: absolute;
                                    width: 100%;
                                    bottom: -7px;
                                    height: 3px;
                                    left: 0;
                                    background-color: #ff6b37;
                                }
                            }
                        }
                    }
                }

                .payments-table-nav-last {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .material-icons {
                        margin: 0 $le-5px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }

            .payments-table-filter {
                display: flex;
                justify-content: space-between;
                background-color: white;
                padding: $le-12px ;
                margin: 0 $le-8px;
                border-top-left-radius: $le-16px;
                border-top-right-radius: $le-16px;

                .date-filter {
                    display: flex;

                    .date-filters {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        text-transform: uppercase;
                        font-weight: $le-font-weight-500;

                        label {
                            display: flex;
                            align-items: center;
                            color: #8a959a;
                            margin-right: $le-10px;

                            .material-icons {
                                margin-right: $le-4px;

                            }
                        }

                        .second-lbl {
                            margin-left: 48px;
                        }

                        p {
                            display: flex;
                            align-items: center;

                            .material-icons {
                                margin-left: 3px;
                                color: #8A989E;
                            }
                        }
                    }

                }

                .search-box {
                    padding: 0 12px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    border: 1px solid #d9cbc8;

                    .search-box-input {
                        border: none;
                        width: 250px;
                        height: 32px;
                        outline: none;
                        font-size: $le-font-size-16px;

                        ::placeholder {
                            color: #899499;
                        }
                    }
                }
            }

            .payments-table {
                margin: 0 $le-8px;
                background-color: white;
                box-sizing: border-box;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-top: $le-12px;

                    .list-th {
                        line-height: 3;
                        background-color: #fcfbfb;

                        th {
                            text-align: start;
                            padding-left: $le-8px;
                            color: #c1cbd0;

                            &:first-child {
                                text-align: center;
                            }
                        }
                    }

                    .list-td {
                        text-align: start;
                        line-height: 3;

                        td {
                            padding-left: $le-8px;
                            color: #576a75;
                            border-bottom: 1px solid #f8f4f4;

                            &:first-child {
                                text-align: center;
                            }
                        }
                    }


                }
            }
        }
    }

    .border {
        position: absolute;
        left: -25px;
        width: 1px;
        height: 100%;
        top: -2px;
        background-color: #dedee0;
    }
}

@media (min-width:1920px) {
    .payments {
        .payments-body {

            .payments-list-container,
            .payments-display,
            .payments-table-container {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}