@import "~src/assets/styles/variables.scss";

.navbar {
    z-index: 2;
    background-color: $le-main-color;
    // box-shadow: 6px 0 6px rgba(0, 0, 0, .1);

    .toolbar-heading {
        color: white;
        padding-left: 5px;
        text-decoration: none;
    }
}

.material-icons {
    color: white;
}

.sign-btn {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    padding: $le-8px $le-16px;
    font-weight: $le-font-weight-600;
    font-size: $le-font-size-15px;
    margin: 0;
}