/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.landing-page {

    .welcome-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        width: 55%;
    }
}

.container {
    width: 90%;
    margin: 0 auto;
}

.font-bold-600 {
    font-weight: 600 !important;
}