/* You can add global styles to this file, and also import other style files */

@import "~src/assets/styles/variables.scss";
@import "~src/assets/styles/common.scss";

html,
body {
    height: 100%;

}

body {
    margin: 0;
    font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.font-bold-600 {
    font-weight: 600 !important;
}

.spacer {
    flex: 1 1 auto;
}

.mat-raised-button.mat-primary {
    background-color: $le-main-color;
}

.mat-button.mat-primary {
    color: $le-main-color;
}

.mat-raised-button {
    .material-icons {
        font-size: 20px;
        vertical-align: text-bottom;
    }
}

.mat-icon-button {
    .material-icons {
        color: $le-main-color;
    }
}

.mat-checkbox-checked.mat-primary,
.mat-checkbox-indeterminate.mat-primary {
    .mat-checkbox-background {
        background-color: $le-main-color;
    }
}


.mat-progress-bar-fill::after {
    background-color: $le-main-color;
}

.mat-progress-spinner circle {
    stroke: #54957f;
}


.orange.mat-progress-spinner circle {
    stroke: orange !important;
}

.blue.mat-progress-spinner circle {
    stroke: dodgerblue !important;
}