<div class="navbar-container">
    <app-page-loader></app-page-loader>
    <app-header (eventToggle)="snav.toggle()"></app-header>


    <mat-sidenav-container>
        <mat-sidenav class="sidenav" fixedTopGap="64" [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" #snav (openedChange)="sideNavChange($event)">
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="sidenav-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>